<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | N</title>

    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

    <!-- bootstrap css -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Chela+One|Gloria+Hallelujah" rel="stylesheet">

 <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
    </style>
</head>
<body>


    <div class="panel panel-default">
        <div class="panel-heading">Edit</div>
      </div>

      <form method="POST">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Name of blog" value="<%=posts.title%>">
        </div>
        <div class="form-group">
          <label for="author">Author:</label>
          <input type="text" class="form-control" name="author" id="author" placeholder="Name of Author"  value="<%=posts.author%>">
        </div>
        <div class="form-group">
          <label for="image">Image:</label>
          <input type="text" class="form-control" name="image" id="image" placeholder="Image URL"  value="<%=posts.image%>">
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input type="date" class="form-control" name="date" id="date" placeholder="Date" value="<%=posts.date%>">
        </div>
        <div>
          <label for="summary">Summary of story:</label>
          <textarea class="summernote" name="content"><%=posts.content%></textarea>
        </div>
        <div>
          <label for="summernote">Full story:</label>
          <textarea class="summernote" name="story"><%= posts.story %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>

    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="navbar-text pull-left">© 2018 - Site Built By Zoe Estella
             <a href="http://tinyurl.com/tbvalid" target="_blank" >Copyright</a>
        </p>
        
        <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
        <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
      </div>
    </div>

</body>
</html>